@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body{
  background:#000;
  color:white;
  font-family: 'Open Sans', sans-serif;
}
#canvas {
  background-color: #333;
}
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
