@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body{
  background-color: #1d2038;
  color:white;
  font-family: 'Open Sans', sans-serif;
}
#canvas {
  margin-top: 20px;
  background-color: #222642;
  border: 5px solid #4a549b;
  box-shadow: 8px 8px #b7bd3f;
  cursor: none;
}
#logo{
  margin-top:20px;
  display:block;
}
#container{
  width: 1280px;
  margin:0 auto;

}
@media screen and (max-width: 1400px) {
    #canvas{
      width: 800px;
    }
    #container{
      width: 800px;
    }
    #logo{
      width: 150px;
    }
}
@media screen and (max-width: 820px) {
    #canvas{
      width: 600px;
    }
    #container{
      width: 600px;
    }
    #logo{
      width: 200px;
    }
}
